<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <meta name="description" content="Acabo de cotizar un seguro para mi auto. Cotízalo tu también desde S/. 19 mensuales." />
    <meta name="keywords" content="postiva, seguros, vehicular, soat, promoción" />
    <meta name="author" content="La Positiva Seguros" />
    <meta name="copyright" content="La Positiva Seguros" />
    <meta name="application-name" content="La Positiva Seguros" />
    <!-- for Facebook -->
    <meta property="og:title" content="La Positiva Seguros" />
	<meta property="og:type" content="other" />
	<meta property="og:image" content="{site_url}/img/logo_fb_4.jpg" />
	<meta property="og:url" content="{site_url}" />
	<meta property="og:description" content="Acabo de cotizar un seguro para mi auto. Cotízalo tu también desde S/. 19 mensuales." />
    <!-- for Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="La Positiva Seguros" />
    <meta name="twitter:description" content="Acabo de cotizar un seguro para mi auto. Cotiza tu #PackVehicular desde S/. 19 mensuales. packvehicular.com.pe @LaPositiva_Peru" />
    <meta name="twitter:image" content="{site_url}/img/logo_fb_4.jpg" />

    <title>La Positiva Seguros</title>
    <link rel="shortcut icon" href="{site_url}/img/favicon.ico"/>
    <link rel="stylesheet" href="{site_url}/css/foundation.css" />
    <link rel="stylesheet" href="{site_url}/css/custom.css" />
    <script src="{site_url}/js/modernizr.js"></script>
    
</head>
<body class="antialiased">