<div id="perdida-robo" class="reveal-modal" data-reveal>
    <p class="lead"><b>Pérdida Total por Robo:</b></p>
    <p>Esta cobertura cubre el valor comercial del vehículo en caso este sea robado.</p>
    <p>Los daños sufridos por el vehículo a causa de un robo deben ser equivalentes al 75% o más del valor nuevo del vehículo asegurado o de uno similar en sus características técnicas en la fecha de ocurrido el siniestro.</p>
    <p class="italic">Deducible: 10% del monto indemnizable.</p>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="perdida-choque" class="reveal-modal" data-reveal>
    <p class="lead"><b>Pérdida Total por Choque:</b></p>
    <p>Esta cobertura cubre el valor comercial del vehículo en caso de choque.</p>
    <p>Los daños sufridos por el vehículo a causa de un accidente deben ser equivalentes al 75% o más del valor nuevo del vehículo asegurado o de uno similar en sus características técnicas en la fecha de ocurrido el siniestro.</p>
    <p class="italic">Deducible: 10% del monto indemnizable.</p>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="propio-choque" class="reveal-modal" data-reveal>
    <p class="lead"><b>Daño Propio por Choque:</b></p>
    <p>Esta cobertura cubre la reparación del vehículo asegurado en caso de choque hasta por S/. 30,000.</p>
    <p>La cobertura es aplicable sólo a talleres multimarcas autorizados por La Positiva. Esta cobertura también se extiende a cubrir los daños del vehículo de un tercero causados por el vehículo asegurado hasta por el monto de la suma asegurada.</p>
    <p class="italic">Deducible: S./ 2,400.</p>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="responsabilidad-civil" class="reveal-modal" data-reveal>
    <p class="lead"><b>Responsabilidad Civil:</b></p>
    <p>Esta cobertura cubre la Responsabilidad Civil en que incurra el Asegurado o cualquier otra persona que conduzca el vehículo asegurado con su autorización, que sea consecuencia de un accidente y que ocasione lesiones y/o daños materiales a personas o cosas que se encuentren fuera del vehículo, hasta la suma asegurada contratada.</p>
    <p class="italic">Deducible: 10% del monto indemnizable, mínimo S/. 300.</p>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="terms" class="reveal-modal" data-reveal>
	<h3 class="text-center"><b>Términos y Condiciones</b></h3>
	
	<h4 class="text-center">Unidades Asegurables</h4>
	<p>Las clases de vehículos para este programa son Vehiculos Livianos de cualquier procedencia con timón original o timón cambiado a excepción de los señalados en el listado de vehiculos no asegurables. Vehículos Livianos: Automóviles, camionetas Station Wagon, Camionetas Panel, Camionetas rurales hasta 9 asientos.</p>

	<h4 class="text-center">Condiciones</h4>
	<p>Uso - Programa exclusivo para Uso Particular.</p>
	<p>Antigüedad - Válido para vehículos Livianos hasta 20 años de antigüedad.</p>
	<p>Valor Asegurado - Programa válido para Vehículos Livianos cuyo valor comercial se encuentre entre los precios S/. 10,000 a S/. 45,000 o su equivalente en dólares (según tipo de cambio vigente)</p>

<h4 class="text-center">Vehículos No Asegurables</h4>

<p>Todo Vehículo Liviano cuyo valor comercial supere los S/. 45,000 o su equivalente en dólares (según tipo de cambio vigente)</p>

<p>Todo Vehículo Liviano que supere los 20 años de antigüedad.</p>

<p>Los siguientes vehículos hasta 3 años de antigüedad (nuevos al 2011) no podrán ser asegurados bajo la cobertura Pérdida Total por Robo.</p>

<ul>
<li>CHEVROLET Aveo.</li>
<li>HONDA CRV.</li>
<li>MAZDA 3.</li>
<li>MITSUBISHI en sus modelos Montero, Nativa y Pajero.</li>
<li>NISSAN en sus modelos Sentra, Tiida.</li>
<li>SUBARU Impreza.</li>
<li>SUZUKI Grand Nomade.</li>
<li>TOYOTA en sus modelos Yaris, Corolla, Rav4, FJ Cruiser, Fortuner, 4Runner, Land Cruiser y Land Cruiser Prado.</li>
<li>VOLKSWAGEN Bora.</li>
</ul>

<p>Los siguientes vehículos no podrán ser asegurados bajo la cobertura Pérdida Total Por Robo, </p>

<p>Pérdida Total Por Choque y Daños Por Choque.</p>

<ul>
<li>Dodge - En sus modelos Nitro, Ram.</li>
<li>Ferrari - En todos sus modelos.</li>
<li>Hyundai - Tiburon.</li>
<li>Hummer - En todos sus modelos.</li>
<li>Jaguar - En todos sus modelos.</li>
<li>Mazda - En su modelo RX (cualquier versión).</li>
<li>Mini Cooper - En todos sus modelos.</li>
<li>Mitsubishi - En sus modelos Lancer Evolution (cualquier versiónn), Eclipse, 3000, 3000GT, Diamante.</li>
<li>Nissan - En sus modelos Lucino, 240, 280, 350z, 370z, Skyline.</li>
<li>Opel Vita - En todos sus modelos.</li>
<li>Seat - En sus modelos León e Ibiza y en cualquier versión Fr y Cupra.</li>
<li>Subaru - En sus modelos Impreza Turbo, Impreza WRX (cualquier versión), Impreza GT.</li>
<li>AUDI R8</li>
<li>BMW -  ActiveHybrid</li>
<li>CHEVROLET -  Camaro</li>
<li>DOGDE -  en sus modelos Challenger, Charger, Nitro y Ram</li>
<li>FERRARI -  en todos sus modelos</li>
<li>FORD -  Mustang</li>
<li>HONDA -  Hybrid</li>
<li>HYUNDAI -  en sus modelos Coupe, Eclipse, Genesis, Genesis Coupe, Tiburón, Veloster</li>
<li>HUMMER -  en todos sus modelos</li>
<li>INFINITY -  en todos sus modelos</li>
<li>JAGUAR -  en todos sus modelos</li>
<li>LEXUS -  en todos sus modelos</li>
<li>MAZDA -  en sus modelos MX-5, RX (cualquier versión)</li>
<li>MINI COOPER -  en todos sus modelos</li>
<li>MITSUBISHI -  en sus modelos  Diamante, Eclipse, Evolution, Lancer Evolution (cualquier versión), 3000, 3000GT</li>
<li>NISSAN -  en sus modelos Lucino, Skyline, 240, 280, 350Z, 370Z</li>
<li>OPEL VITA -  en todos sus modelos</li>
<li>PORSCHE -  en todos sus modelos</li>
<li>PEUGEOT -  en sus modelos Cabriolet, CC y GTI</li>
<li>SEAT -  en sus modelos Ibiza y León en cualquier versión FR y Cupra</li>
<li>SUBARU -  en sus modelos BRZ, Impreza GT, Impreza Turbo, Impreza STI, Impreza STI  WRX e Impreza WRX (cualquier versión)</li>
<li>TOYOTA -  en sus modelos Celica, Chaser, Corolla GT, Corona Exiv, Cresta, Curren, Cynos,  Estima (Lucida y Emina), Hachiroku, Mark II, Paseo, Prius Probox, Scion, Sienta, Soarer, Supra, Succeed, Vista, 86GT</li>
<li>VOLKSWAGEN GTI</li>
<li>VEHÍCULOS DESCAPOTABLES - (Convertibles).</li>
<li>VEHÍCULOS HÍBRIDOS</li>
<li>VEHÍCULOS CON PUERTAS DE APERTURA VERTICAL (LSD DOORS)</li>
<li>CUALQUIER VEHÍCULO DE COMPETENCIA O PREPARADO PARA COMPETIR.</li> 
</ul>

<h4 class="text-center">Exclusiones</h4>
<ol>
<li>Falta de licencia de conducir y/o cuando el Asegurado comete infracción MUY GRAVE según el Reglamento Nacional de Tránsito.</li>
<li>Conducción bajo los efectos de alcohol y drogas.</li>
<li>Daños a terceros cuando el vehículo haya sido robado.</li>
<li>Daños a cónyuge y a parientes del Asegurado, sólo para el caso de responsabilidad civil. 
<p>Daños intencionales.</p>
</li>
<li>Daños a terceros cuando el vehículo es dedicado a la enseñanza de conducción o participación en competencias automovilísticas.
<li>Daños cuando el vehículo tiene un uso distinto al particular.</li>
<li>Responsabilidad penal.</li>
<li>Guerra civil o internacional, contaminación radioactiva.
<p>Disposiciones Finales</p>
</li>
</ol>

<ol>
<li>El deducible a cargo del Asegurado se aplicará por todo y cada reclamo y no incluye el Impuesto General a las Ventas (IGV).</li>
<li>La información aquí proporcionada es a título parcial. Prevalecen las Condiciones Particulares sobre las Condiciones Generales de la Póliza de Seguro de Vehículos, la cual está disponible en: www.lapositiva.com.pe.</li>
<li>El Asegurado tiene derecho a solicitar a La Positiva, copia de la Póliza de Seguro de Vehículos, la cual deberá ser entregada en un plazo máximo de quince (15) días calendario desde la recepción de la solicitud presentada por el Asegurado.</li>
<li>La cobertura de esta póliza será la que corresponda al de la prima pagada.</li>
<li>La relación de talleres multimarca encargados de la reparación del vehículo asegurado así como la lista de vehículos NO ASEGURABLES bajo esta póliza, se encuentra disponible en: www.lapositiva.com.pe. </li>
<li>La existencia de dos o más pólizas cubriendo el mismo riesgo implica la aplicación del artículo 90 de la Ley del Contrato de Seguro.</li>
<li>El incumplimiento de las obligaciones a cargo del Asegurado, podría afectar el pago de un siniestro al que tendría derecho.</li>
<li>El Asegurado se encuentra obligado a informar a La Positiva cualquier hecho o circunstancia que agrave el riesgo asegurado.</li>
<li>El vehículo asegurado en esta póliza no requiere inspección, por lo que el Asegurado mediante la firma de esta póliza declara bajo juramento la tenencia del vehículo al momento de la afiliación al seguro, así como el buen estado del mismo bajo las condiciones de operatividad establecidas por el fabricante.</li>
<li>El Asegurado podrá resolver esta póliza de seguro sin expresión de causa, dentro de los quince (15) días, contados desde que la recibe. En caso de que esta póliza sea contratada a través de un comercializador autorizado por La Positiva, éste derecho se puede ejercer en las oficinas donde se contrató. En caso el Asegurado ejerza su derecho de arrepentimiento luego de pagada la prima o parte de la misma, La Positiva procederá a la devolución total de la prima pagada.</li>
<li>El Asegurado autoriza a La Positiva el envío de toda la información vinculada a la póliza de seguro que ha adquirido, a la dirección electrónica consignada en este documento.</li>
</ol>

<h4 class="text-center">Resumen Informativo del Seguro de Vehículos</h4>

<p>Riesgos Cubiertos</p>

<p>Cubre los riesgos especificados en el inciso 4 Coberturas y Sumas Aseguradas de las Condiciones </p>

<h4 class="text-center">Particulares de la Póliza</h4>

<p>Inicio de la Cobertura</p>

<p>De conformidad con lo estipulado en el segundo párrafo del artículo 4º de la Ley Nº29946, Ley del Contrato de Seguro, las partes acuerdan postergar el inicio de la cobertura del seguro al pago de la primera cuota fraccionada o de la cuota anual de la prima dentro del plazo establecido, siempre que no se haya pactado un plazo adicional para dicho pago.</p>

<p>Sin perjuicio de lo anterior, en la eventualidad de la ocurrencia de un siniestro antes del plazo acordado para el pago de la primera cuota o de la cuota anual de la prima, La Positiva deberá cubrir el pago del siniestro, oportunidad en la cual se devengará la prima debida de acuerdo al convenio de pago suscrito, la cual será descontada del importe de la indemnización correspondiente. En caso de un siniestro considerado pérdida total, se devengará el íntegro de la prima acordada, que será descontada del importe de la indemnización correspondiente.</p>

<h4 class="text-center">Exclusiones</h4>

<p>Son las que se indican en el inciso 8 Principales exclusiones de las Condiciones Particulares de la Póliza así como en el Capítulo IV Exclusiones del Seguro de las Condiciones Generales de la Póliza de Seguro de Vehículos y en las respectivas Cláusulas Adicionales, de ser el caso.</p>

<h4 class="text-center">Causales de Resolución del Contrato</h4>

<p>Se encuentran señaladas en el numeral 2.2 Inicio de Cobertura, el numeral 2.3 Pago de Primas y en el numeral 2.10 Resolución de Contrato de Seguro de las Condiciones Generales de la Póliza de Seguro de Vehículos.</p>

<h4 class="text-center">Medio y Plazo Establecidos para el Aviso del Siniestro</h4>

<p>Los siniestros deben ser avisados a través de Línea Positiva llamando al 211-0-211 desde Lima o al 74-9000 desde provincias (si llama desde celular deberá marcar previamente el código de la provincia donde se encuentre), dentro de las 72 horas de ocurrido el siniestro.</p>

<p>La omisión o el retardo sólo son excusables si medió fuerza mayor, caso fortuito o imposibilidad de hecho sin culpa o negligencia. Se deja expresa constancia que lo consignado en el presente numeral, en ningún caso limita el derecho del Asegurado de acudir a cualquier instancia judicial o administrativa, si así lo considerara pertinente.</p>

<h4 class="text-center">Procedimiento para la Atención del Siniestro</h4>

<p>Ocurrido el siniestro, el Asegurado deberá presentar el reclamo a La Positiva, o a través del Comercializador autorizado si fuera el caso, entregando los documentos que acrediten la ocurrencia del siniestro y el importe de los daños sufridos.</p>

<h4 class="text-center">Lugares para la Atención del Siniestro</h4>

<p>Los siniestros serán atendidos en las oficinas de La Positiva, cuyas direcciones aparecen en www.lapositiva.com.pe.</p>

<h4 class="text-center">Mecanismos de Solución de Controversias</h4>

<p>Las controversias se solucionarán de acuerdo a lo indicado en el numeral 2.17 Solución de Controversias, de las Condiciones Generales de la Póliza de Seguro de Vehículos.</p>

<h4 class="text-center">Áreas Encargadas de Atender Reclamos</h4>

<p>La Positiva recibirá los reclamos de los Asegurados en su “Área de Servicio al Cliente” llamando al 211-0-211 desde Lima o al 74-9000 desde provincias (si llama desde celular deberá marcar previamente el código de la provincia donde se encuentre), ó en cualquiera de sus oficinas a nivel nacional cuyas direcciones aparecen en www.lapositiva.com.pe, así como a través de la misma página web de La Positiva.</p>

<h4 class="text-center">Instancias habilitadas para presentar reclamos y/o denuncias</h4>

<p>El Asegurado también podrá realizar cualquier reclamo sobre los alcances de este seguro en la “Defensoría del Asegurado”, llamando al 446-9158 o visitando sus oficinas en Calle Arias Aragüez N° 146 Miraflores - Lima o a través de www.defaseg.com.pe, así como también en la Plataforma de Atención al Usuario de la Superintendencia de Banca, seguros y AFP’s o en INDECOPI, entre otros, según corresponda.</p>

<h4 class="text-center">Tratamiento de Datos Personales</h4>

<p>El Asegurado autoriza de forma expresa a La Positiva Seguros y Reaseguros, el uso de los datos personales proporcionados en la contratación del presente seguro, para fines comerciales, tales como el envío de publicidad y promociones de diferentes productos o servicios; autorización que se extiende en el marco de lo dispuesto en la Ley Nº 29733 y su Reglamento, aprobado por Decreto Supremo Nº 003-2013, que regula el tratamiento de datos personales y la posibilidad de que La Positiva Seguros y Reaseguros transfiera los mismos a sus empresas vinculadas y/o terceros con los que ésta mantenga una relación contractual.</p>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="info" class="reveal-modal" data-reveal>
    <p class="lead"><b>Your couch.  It is mine.</b></p>
    <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
    <p class="lead"><b>A nice subtitle.</b></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, eaque, nam facilis voluptates quia rerum quae tenetur porro unde non magni distinctio saepe quasi expedita neque ea consequatur autem quo.</p>
    <p class="lead"><b>A nice subtitle.</b></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, eaque, nam facilis voluptates quia rerum quae tenetur porro unde non magni distinctio saepe quasi expedita neque ea consequatur autem quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, similique, obcaecati, dolores recusandae aspernatur vel voluptas soluta magnam totam asperiores quod voluptatem nam? Eius, ipsum, rerum beatae doloremque aut modi!</p>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="pack-total" class="reveal-modal" data-reveal>
    <p class="lead"><b>Auto Total Positiva:</b></p>
    <p>El valor comercial de tu auto está por encima de la suma asegurable de nuestro producto Pack Vehicular, para lo cual te ofrecemos nuestro producto integral Auto Total Positiva, el cual permite asegurar tu auto contra todo riesgo.</p>
    <p>Para más información sobre el producto haz <a href="#">click aquí</a>.</p>
</div>

<div id="accidentes-personales" class="reveal-modal" data-reveal>
    <p>El seguro de Accidentes personales cubre:</p>
    <br><br>
    <table class="MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="250" style="width: 38em;border-collapse:collapse;mso-yfti-tbllook:1184;
     mso-padding-alt:0cm 3.5pt 0cm 3.5pt;margin:0 auto;">
     <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;height:33.75pt">
      <td width="250" colspan="2" style="width:250.0pt;border:solid windowtext 1.0pt;
      border-right:solid black 1.0pt;mso-border-top-alt:windowtext 1.0pt;
      mso-border-left-alt:windowtext 1.0pt;mso-border-bottom-alt:windowtext .5pt;
      mso-border-right-alt:black 1.0pt;mso-border-style-alt:solid;background:#FF6600;
      padding:0cm 3.5pt 0cm 3.5pt;height:33.75pt">
      <p class="MsoNormal" align="center" style="margin-bottom:0cm;margin-bottom:.0001pt;
      text-align:center;line-height:normal"><span lang="ES-PE" style="mso-ascii-font-family:
      Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
      mso-bidi-font-family:&quot;Times New Roman&quot;;color:white;mso-themecolor:background1;
      mso-fareast-language:ES-PE">Accidentes Personales de Ocupantes<o:p></o:p></span></p>
      <p class="MsoNormal" align="center" style="margin-bottom:0cm;margin-bottom:.0001pt;
      text-align:center;line-height:normal"><span lang="ES-PE" style="mso-ascii-font-family:
      Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
      mso-bidi-font-family:&quot;Times New Roman&quot;;color:white;mso-themecolor:background1;
      mso-fareast-language:ES-PE">(según tarjeta de propiedad, máximo 5 ocupantes)</span><span lang="ES-PE" style="font-size:12.0pt;mso-ascii-font-family:Calibri;mso-fareast-font-family:
      &quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;mso-bidi-font-family:&quot;Times New Roman&quot;;
      color:white;mso-fareast-language:ES-PE"><o:p></o:p></span></p>
      </td>
     </tr>
     <tr style="mso-yfti-irow:1;height:10.7pt">
      <td width="139" style="width:139.2pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:none;border-right:solid windowtext 1.0pt;mso-border-top-alt:
      solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:
      solid windowtext 1.0pt;mso-border-right-alt:solid windowtext .5pt;background:
      white;padding:0cm 3.5pt 0cm 3.5pt;height:10.7pt">
      <p class="MsoNormal" align="center" style="margin-top:0cm;margin-right:0cm;
      margin-bottom:0cm;margin-left:-3.5pt;margin-bottom:.0001pt;text-align:center;
      line-height:normal"><span lang="ES-PE" style="mso-ascii-font-family:Calibri;
      mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
      mso-bidi-font-family:&quot;Times New Roman&quot;;color:black;mso-fareast-language:ES-PE">Cobertura*<o:p></o:p></span></p>
      </td>
      <td width="111" style="width:110.8pt;border:none;border-right:solid windowtext 1.0pt;
      mso-border-top-alt:solid windowtext .5pt;background:white;padding:0cm 3.5pt 0cm 3.5pt;
      height:10.7pt">
      <p class="MsoNormal" align="center" style="margin-bottom:0cm;margin-bottom:.0001pt;
      text-align:center;line-height:normal"><span lang="ES-PE" style="mso-ascii-font-family:
      Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
      mso-bidi-font-family:&quot;Times New Roman&quot;;color:black;mso-fareast-language:ES-PE">Suma
      Asegurada<o:p></o:p></span></p>
      </td>
     </tr>
     <tr style="mso-yfti-irow:2;height:13.9pt">
      <td width="139" style="width:139.2pt;border:solid windowtext 1.0pt;mso-border-alt:
      solid windowtext .5pt;mso-border-left-alt:solid windowtext 1.0pt;background:
      white;padding:0cm 3.5pt 0cm 3.5pt;height:13.9pt">
      <p class="MsoNormal" align="center" style="margin-bottom:0cm;margin-bottom:.0001pt;
      text-align:center;line-height:normal"><span lang="ES-PE" style="mso-ascii-font-family:
      Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
      mso-bidi-font-family:&quot;Times New Roman&quot;;color:black;mso-fareast-language:ES-PE">Muerte<o:p></o:p></span></p>
      </td>
      <td width="111" style="width:110.8pt;border:solid windowtext 1.0pt;border-left:
      none;mso-border-top-alt:solid windowtext .5pt;mso-border-bottom-alt:solid windowtext .5pt;
      mso-border-right-alt:solid windowtext 1.0pt;background:white;padding:0cm 3.5pt 0cm 3.5pt;
      height:13.9pt">
      <p class="MsoNormal" align="center" style="margin-bottom:0cm;margin-bottom:.0001pt;
      text-align:center;line-height:normal"><span lang="ES-PE" style="mso-ascii-font-family:
      Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
      mso-bidi-font-family:&quot;Times New Roman&quot;;color:black;mso-fareast-language:ES-PE">S/. 30,000.00
      <o:p></o:p></span></p>
      </td>
     </tr>
     <tr style="mso-yfti-irow:3;height:15.0pt">
      <td width="139" style="width:139.2pt;border:solid windowtext 1.0pt;border-top:
      none;mso-border-left-alt:solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext .5pt;
      mso-border-right-alt:solid windowtext .5pt;background:white;padding:0cm 3.5pt 0cm 3.5pt;
      height:15.0pt">
      <p class="MsoNormal" align="center" style="margin-bottom:0cm;margin-bottom:.0001pt;
      text-align:center;line-height:normal"><span lang="ES-PE" style="mso-ascii-font-family:
      Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
      mso-bidi-font-family:&quot;Times New Roman&quot;;color:black;mso-fareast-language:ES-PE">Invalidez
      Permanente, hasta<o:p></o:p></span></p>
      </td>
      <td width="111" style="width:110.8pt;border-top:none;border-left:none;
      border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext 1.0pt;
      background:white;padding:0cm 3.5pt 0cm 3.5pt;height:15.0pt">
      <p class="MsoNormal" align="center" style="margin-bottom:0cm;margin-bottom:.0001pt;
      text-align:center;line-height:normal"><span lang="ES-PE" style="mso-ascii-font-family:
      Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
      mso-bidi-font-family:&quot;Times New Roman&quot;;color:black;mso-fareast-language:ES-PE">S/. 30,000.00
      <o:p></o:p></span></p>
      </td>
     </tr>
     <tr style="mso-yfti-irow:4;height:19.3pt">
      <td width="139" style="width:139.2pt;border:solid windowtext 1.0pt;border-top:
      none;mso-border-left-alt:solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext 1.0pt;
      mso-border-right-alt:solid windowtext .5pt;background:white;padding:0cm 3.5pt 0cm 3.5pt;
      height:19.3pt">
      <p class="MsoNormal" align="center" style="margin-bottom:0cm;margin-bottom:.0001pt;
      text-align:center;line-height:normal"><span lang="ES-PE" style="mso-ascii-font-family:
      Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
      mso-bidi-font-family:&quot;Times New Roman&quot;;color:black;mso-fareast-language:ES-PE">Gastos
      de curación, hasta<o:p></o:p></span></p>
      </td>
      <td width="111" style="width:110.8pt;border-top:none;border-left:none;
      border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      background:white;padding:0cm 3.5pt 0cm 3.5pt;height:19.3pt">
      <p class="MsoNormal" align="center" style="margin-bottom:0cm;margin-bottom:.0001pt;
      text-align:center;line-height:normal"><span lang="ES-PE" style="mso-ascii-font-family:
      Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
      mso-bidi-font-family:&quot;Times New Roman&quot;;color:black;mso-fareast-language:ES-PE">S/. 10,000.00
      <o:p></o:p></span></p>
      </td>
     </tr>
     <tr style="mso-yfti-irow:5;mso-yfti-lastrow:yes;height:13.4pt">
      <td width="139" style="width:139.2pt;border:solid windowtext 1.0pt;border-top:
      none;mso-border-left-alt:solid windowtext 1.0pt;mso-border-bottom-alt:solid windowtext 1.0pt;
      mso-border-right-alt:solid windowtext .5pt;background:white;padding:0cm 3.5pt 0cm 3.5pt;
      height:13.4pt">
      <p class="MsoNormal" align="center" style="margin-bottom:0cm;margin-bottom:.0001pt;
      text-align:center;line-height:normal"><span lang="ES-PE" style="mso-ascii-font-family:
      Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
      mso-bidi-font-family:&quot;Times New Roman&quot;;color:black;mso-fareast-language:ES-PE">Gasto
      de sepelio, hasta<o:p></o:p></span></p>
      </td>
      <td width="111" style="width:110.8pt;border-top:none;border-left:none;
      border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      background:white;padding:0cm 3.5pt 0cm 3.5pt;height:13.4pt">
      <p class="MsoNormal" align="center" style="margin-bottom:0cm;margin-bottom:.0001pt;
      text-align:center;line-height:normal"><span lang="ES-PE" style="mso-ascii-font-family:
      Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
      mso-bidi-font-family:&quot;Times New Roman&quot;;color:black;mso-fareast-language:ES-PE">S/. 3,000.00
      <o:p></o:p></span></p>
      </td>
     </tr>
    </tbody></table>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="asistencia-vial" class="reveal-modal" data-reveal>
    <p>La cobertura de Asistencia Vial cubre:</p>
    <br>
    <p><b>a)</b> Servicio de Auxilio Mecánico: Llaves en el interior, cambio de llanta, se quedó sin gasolina, recarga de batería.</p>
    <p><b>b)</b> Servicio de Remolque (para vehículos de un máximo de 2 toneladas): Auto no enciende, no tienen llanta de repuesto, choque, etc.</p>
    <p><b>c)</b> Chofer de reemplazo: Este servicio es válido solo para vehículos livianos en Lima Metropolitana.</p><br>
    <p>Todas estas coberturas son gratuitas y máximo hasta 1 evento al año.</p>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="banner-contactanos" class="asistencia-vial reveal-modal" data-reveal>
    <img style="width:100%;" src="{site_url}/img/banner.png" alt="Contáctanos">
    <a class="close-reveal-modal">&#215;</a>
</div>