<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>La Positiva</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Bowlby+One+SC' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <script src="js/modernizr.js"></script>
</head>
<body class="antialiased">
    <section id="first-section">
        <div class="row">
            <div class="large-12 text-center columns">
                <h1 id="primary">¿TE ROBARON?</h1>
            </div>
        </div>

        <div class="row">
            <div class="large-10 large-centered columns">
                <div class="row">
                    <div id="price-msg" class="large-7 small-12 columns">
                        <p>ASEGURA TU AUTO DESDE</p>
                    </div>
                    <div id="price" class="large-5 large-uncentered medium-4 medium-centered small-6 small-centered columns">
                        <p class="price-first">S/.</p>
                        <p class="price-quantity">15</p>
                        <p class="price-first">
                            <span>.00</span>
                            <span class="price-montly">MENSUALES</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 text-center small-10 small-centered columns">
                <img src="img/car.png" alt="car">
            </div>
        </div>

        <div class="row full-width">
            <div class="large-12 small-10 small-centered columns">
                <div class="row">
                    <form class="quote" action="'#">
                        <div class="large-3 medium-6 columns">
                            <span class="selector-big">
                                <select name="" id="">
                                    <option value="MARCA">MARCA</option>
                                </select>
                            </span>
                        </div>
                        <div class="large-2 medium-6 columns">
                            <span class="selector-big">
                                <select name="" id="">
                                    <option value="MODELO">MODELO</option>
                                </select>
                            </span>
                        </div>
                        <div class="large-2 medium-6 columns">
                            <span class="selector-big">
                                <select name="" id="">
                                    <option value="VERSIÓN">VERSIÓN</option>
                                </select>
                            </span>
                        </div>
                        <div class="large-2 medium-6 columns">
                            <span class="selector-big">
                                <select name="" id="">
                                    <option value="AÑO">AÑO</option>
                                </select>
                            </span>
                        </div>
                        <div class="large-3 large-uncentered medium-6 medium-centered columns">
                            <button class="expand" type="submit">COTIZAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div id="curve"></div>
        <div class="row">
            <div class="large-2 small-3 columns">
                <img src="img/logo.png" alt="">
            </div>
            <div class="large-5 small-9 columns">
                <ul class="inline-list right">
                    <li>
                        <a href="#">Términos y Condiciones</a>
                    </li>
                    <li>
                        <a href="#">Contáctanos</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script>
      $(document).foundation();
    </script>
</body>
</html>